.business-info {
    font-size: medium;
    text-align: center;
    color: #ff4081;
    margin-top: 10px;

    .business-info-button {
        margin-left: 5px;
        margin-right: 5px;
    }
}

.pay-button {
    margin-top: 10px;
}

.gallery-button {
    margin-top: 10px;
}

.name {
    color: #ff4081;
    text-align: center;
}
