.pricing {
    .mat-form-field {
        width: 45% !important;

        &:first-of-type{
            margin-right: 5%;
        }
    }
}

.add-pricing {

}

.button-row {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    z-index: 2147483640;
    border-top: 1px solid #f3f3f3;
    background-color: white;

    .accept-button {
        float: right;
        color: black;

        &.disabled-btn{
            color:#b7b7b7;
        }
    }

    .back-button {
        float: left;
    }
}
.camera {
    // background-image: url(uploadservice?.logoimage);
    height: 40px;
    width: 40px;
    margin: 0 auto;
    background-size: cover;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
    // display:none;
    display: inline-flex;
}
