<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>תיאום תור</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <app-calendar [calendarMode]="editMode"
                  [daysToExclude]="daysToExclude"
                  [minHour]="minHour"
                  [maxHour]="maxHour"
                  [eventDefaultLength]="business.appointmentLength"
                  (eventCreated)="onEventCreated($event)"
                  (eventEdited)="onEventEdited($event)"
                  (eventDeleted)="onEventDeleted($event)"
                  (dateChanged)="onDateChanged($event)">
    </app-calendar>
</ion-content>
